[submodule "gateway"]
	path = gateway
	url = https://github.com/Gravity-Tech/gateway
	branch = main
[submodule "core"]
	path = core
	url = https://github.com/Graviton-One/gravity-core
	branch = master
